body {
    background-image: url(/images/path\ tree\ HERO.jpg); 
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: black;
    background-position-x: center;
}

body {
    display: flex;
    flex-direction: column;
}

#buttonDisplay {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#textBoxArrowContainer {
    position: fixed;
    display: flex;
    align-self: flex-end;
    padding-bottom: 1rem;
    padding-left: 34%;
}

#textBoxArrow {
    width: 1em;
    height: 1em;
    position: relative;
    animation: arrowBob 1s infinite;
    opacity: 0;
}

#fullTextBox {
    display: flex;
    flex-direction: row;
    padding: 0rem 1rem;
    text-align: left;
    width: 35%;
    height: 5rem;
    align-self: center;
    color: white;
    background-color: black;
    border: white solid 1px;
    border-radius: 0.5rem;
    margin-top: 35%;
}

#textDisplay {
    align-self: flex-start;
}

.options {
    background-color: tan;
    transition: background-color .75s;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.options:hover {
    cursor: pointer;
    background-color: bisque;
}



@keyframes arrowBob {
    0% {top: 0px;}
    50% {top: 5px;}
    100% {top: 0px;}
}